<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <app-profileandcoverphoto></app-profileandcoverphoto>
        </div>
        <div class="col-4">
          <app-headlineandinfo></app-headlineandinfo>
        </div>
        <div class="col-8">
          <app-postcreate></app-postcreate>
        </div>
        <div class="col-4">
          <app-uploadedpictures></app-uploadedpictures>
          <app-uploadedvideos></app-uploadedvideos>
          <app-matchedswingattributes></app-matchedswingattributes>
        </div>
        <div class="col-8">
          <app-newsfeeditem></app-newsfeeditem>
        </div>
      </div>
    </div>
  </div>
</div>
