<div class="container-fluid">
  <div class="row">
    <div class="col-4 mt-3">
      <div class="row">
        <div class="col-12">
          <h4>Countries</h4>
        </div>
        <div class="col-8">
          <input type="text"
                 id="countryadd"
                 name="countryadd"
                 ngModel
                 placeholder="Add A Country"
                 class="form-control">
        </div>
        <div class="col-2">
          <button type="submit"
                  id="submitcountry"
                  name="submitcountry"
                  class="btn btn-outline-secondary">Submit</button>
        </div>
        <div class="row">
          <div class="col-8 mt-1">
            <span class="badge badge-pill badge-secondary">United States</span>
          </div>
          <div class="col-2 mt-1">
            <button class="badge badge-pill badge-warning">Edit</button>
          </div>
          <div class="col-2 mt-1">
            <button class="badge badge-pill badge-danger">Delete</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="row">
        <div class="col-12">
          <h4>States</h4>
        </div>
        <div class="col-8">
          <input type="text"
                 id="stateadd"
                 name="stateadd"
                 ngModel
                 placeholder="Add A State"
                 class="form-control">
        </div>
        <div class="col-2">
          <button type="submit"
                  id="submitstate"
                  name="submitstate"
                  class="btn btn-outline-secondary">Submit</button>
        </div>
        <div class="row">
          <div class="col-8 mt-1">
            <span class="badge badge-pill badge-secondary">Illinois</span>
          </div>
          <div class="col-2 mt-1">
            <button class="badge badge-pill badge-warning">Edit</button>
          </div>
          <div class="col-2 mt-1">
            <button class="badge badge-pill badge-danger">Delete</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="row">
        <div class="col-12">
          <h4>Cities</h4>
        </div>
        <div class="col-8">
          <input type="text"
                 id="cityadd"
                 name="cityadd"
                 ngModel
                 placeholder="Add A City"
                 class="form-control">
        </div>
        <div class="col-2">
          <button type="submit"
                  id="submitcity"
                  name="submitcity"
                  class="btn btn-outline-secondary">Submit</button>
        </div>
        <div class="row">
          <div class="col-5 mt-1">
            <span class="badge badge-pill badge-secondary">Chicago</span>
          </div>

          <div class="col-2 mt-1 mr-1">
            <div class="text-left">
              <button class="badge badge-pill badge-secondary">Inactive</button>
            </div>
          </div>
          <div class="col-2 mt-1">
            <div clas="text-right">
              <button class="badge badge-pill badge-warning">Edit</button>
            </div>
          </div>
          <div class="col-2 mt-1">
            <button class="badge badge-pill badge-danger">Delete</button>
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>
</div>
