<div class="container-fluid">
  <div class="row">
    <div class="col-6 mt-3">
      <div class="row">
        <div class="col-12">
          <h4>Countries</h4>
        </div>
        <form (ngSubmit)="addcountry()" #addcountryform="ngForm">
          <div class="col-10">
            <input type="text"
                   id="countryadd"
                   name="countryadd"
                   (ngModelChange)="showlocationsubmitbutton('c')"
                   ngModel
                   placeholder="Add A Country"
                   class="form-control">
          </div>
          <div class="col-2">
            <button *ngIf="countrysubmitshow"
                    type="submit"
                    id="submitcountry"
                    name="submitcountry"
                    class="btn btn-outline-secondary">Submit</button>
          </div>
        </form>
        <div *ngFor="let c of countries; let i = index" class="row">
          <form (ngSubmit)="editname('country', i, editcountryform)" #editcountryform="ngForm">
            <div *ngIf="editcountryshow" class="col-12 mt-2">
              <input type="text"
                     id="editcountry"
                     name="editcountry"
                     [ngModel]="countries[i].name"
                     class="form-control">
            </div>
            <div *ngIf="editcountryshow" class="col-4 mt-2">
              <button (click)="toggleeditcountry()" class="btn btn-outline-dark">Cancel</button>
            </div>
            <div *ngIf="editcountryshow" class="col-4 mt-2">
              <button type="submit" class="btn btn-outline-dark">Edit</button>
            </div>
          </form>
          <div class="row">
            <div *ngIf="!editcountryshow" class="col-6 mt-1">
              <button (click)="getstatesbycountry(i)" class="badge badge-pill badge-secondary">{{c.name}}</button>
            </div>
            <div *ngIf="c.active && !editcountryshow"  class="col-2 mt-1">
              <div class="text-left">
                <button (click)="changeactivestatus('country', i)" class="badge badge-pill badge-success">Active</button>
              </div>
            </div>
            <div *ngIf="!c.active && !editcountryshow"  class="col-2 mt-1">
              <div class="text-left">
                <button (click)="changeactivestatus('country', i)" class="badge badge-pill badge-secondary">Inactive</button>
              </div>
            </div>
            <div *ngIf="!editcountryshow" class="col-2 mt-1">
              <div class="text-left">
                <button (click)="toggleeditcountry()" class="badge badge-pill badge-warning">Edit</button>
              </div>
            </div>
            <div *ngIf="!editcountryshow" class="col-2 mt-1">
              <div class="text-left">
                <button (click)="delete('country', i)" class="badge badge-pill badge-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-6 mt-3">
      <div class="row">
        <div class="col-12">
          <h4> <span *ngIf="activecountryobject != null">{{activecountryobject.name}}</span> States</h4>
        </div>
        <form (ngSubmit)="addstate()" #addstateform="ngForm">
          <div class="col-10">
            <input type="text"
                   id="stateadd"
                   name="stateadd"
                   (ngModelChange)="showlocationsubmitbutton('s')"
                   ngModel
                   placeholder="Add A State"
                   class="form-control">
          </div>
          <div class="col-2">
            <button *ngIf="statesubmitshow" type="submit"
                    id="submitstate"
                    name="submitstate"
                    class="btn btn-outline-secondary">Submit</button>
          </div>
        </form>
        <div *ngFor="let s of states; let i =index" class="row">
          <form (ngSubmit)="editname('state', i , editstateform)" #editstateform="ngForm">
            <div *ngIf="editstateshow" class="col-12 mt-2">

              <input type="text"
                     id="editstate"
                     name="editstate"
                     [ngModel]="states[i].name"
                     class="form-control">
            </div>
            <div *ngIf="editstateshow" class="col-4">
              <button (click)="toggleeditstate()" class="btn btn-outline-dark">Cancel</button>
            </div>
            <div *ngIf="editstateshow" class="col-4">
              <button type="submit" class="btn btn-outline-dark">Edit</button>
            </div>
          </form>
          <div *ngIf="!editstateshow" class="col-6 mt-1">
            <button (click)="getcitybystate(i)" class="badge badge-pill badge-secondary">{{s.name}}</button>
          </div>
          <div *ngIf="s.active && !editstateshow"  class="col-2 mt-1">
            <div class="text-left">
              <button (click)="changeactivestatus('state', i)" class="badge badge-pill badge-success">Active</button>
            </div>
          </div>
          <div *ngIf="!s.active && !editstateshow"  class="col-2 mt-1">
            <div class="text-left">
              <button (click)="changeactivestatus('state', i)" class="badge badge-pill badge-secondary">Inactive</button>
            </div>
          </div>
          <div *ngIf="!editstateshow" class="col-2 mt-1">
            <div class="text-left">
              <button (click)="toggleeditstate()" class="badge badge-pill badge-warning">Edit</button>
            </div>
          </div>
          <div *ngIf="!editstateshow" class="col-2 mt-1">
            <div class="text-left">
              <button (click)="delete('state', i)" class="badge badge-pill badge-danger">Delete</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-6 mt-3">
      <div class="row">
        <div class="col-12">
          <h4> <span *ngIf="activestateobject != null">{{activestateobject.name}}</span> Cities</h4>
        </div>
        <form (ngSubmit)="addcity()" #addcityform="ngForm">
          <div class="col-10">
            <input type="text"
                   id="cityadd"
                   name="cityadd"
                   (ngModelChange)="showlocationsubmitbutton('x')"
                   ngModel
                   placeholder="Add A City"
                   class="form-control">
          </div>
          <div class="col-2">
            <button *ngIf="citysubmitshow" type="submit"
                    id="submitcity"
                    name="submitcity"
                    class="btn btn-outline-secondary">Submit</button>
          </div>
        </form>
        <div *ngFor="let c of cities; let i = index" class="row">
          <form (ngSubmit)="editname('city',i,editcityform)" #editcityform="ngForm">
            <div *ngIf="editcityshow" class="col-12 mt-2">
              <input type="text"
                     id="editcity"
                     name="editcity"
                     [ngModel]="cities[i].name"
                     class="form-control">
            </div>
            <div *ngIf="editcityshow" class="col-4">
              <button (click)="toggleeditcity()" class="btn btn-outline-dark">Cancel</button>
            </div>
            <div *ngIf="editcityshow" class="col-4">
              <button type="submit" class="btn btn-outline-dark">Edit</button>
            </div>
          </form>
          <div class="row">
            <div *ngIf="!editcityshow" class="col-6 mt-1">
              <button class="badge badge-pill badge-secondary">{{c.name}}</button>
            </div>
            <div *ngIf="c.active && !editcityshow" class="col-2 mt-1">
              <div class="text-left">
                <button  (click)="changeactivestatus('city', i)"class="badge badge-pill badge-success">Active</button>
              </div>
            </div>
            <div *ngIf="!c.active && !editcityshow"  class="col-2 mt-1">
              <div class="text-left">
                <button (click)="changeactivestatus('city', i)" class="badge badge-pill badge-secondary">Inactive</button>
              </div>
            </div>
            <div *ngIf="!editcityshow" class="col-2 mt-1">
              <div class="text-left">
                <button (click)="toggleeditcity()" class="badge badge-pill badge-warning">Edit</button>
              </div>
            </div>
            <div *ngIf="!editcityshow" class="col-2 mt-1">
              <div class="text-left">
                <button (click)="delete('city', i)" class="badge badge-pill badge-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>
</div>
