<div *ngIf="swingerobject != null" class="container-fluid">
  <div class="row">
    <div class="mt-5 col-12">
      <h5>{{swingerobject.swinger_set[0].username}}</h5>
    </div>
    <div class="mt-2 col-12">
      <p>Our Headline goes here and stuff</p>
    </div>
    <div class="mt-2 col-12">
      <span>{{swingerobject.swinger_set[0].city.name}}, {{swingerobject.swinger_set[0].state.name}} {{swingerobject.swinger_set[0].country.name}}</span>
    </div>
    <div class="col-12 mt-1">
      {{swingerobject.swinger_set[0].swingertype.name}}
    </div>
    <div class="col-12 mt-1">
      body types
    </div>
    <div class="col-12 mt-1">
      86% Swing Match
    </div>
  </div>
</div>
