<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h3>Preferences</h3>
      <hr>
    </div>
    <div class="col-12 mb-5">
      <h5>Preferred Swing Types</h5>
    </div>
    <div *ngFor="let pref of swingoptions" class="col-3 mb-3">
      <div class="row">
        <div class="col-auto">
          <label class="form-check-label">{{pref.name}}</label>
        </div>
        <div class="col-auto">
          <input type="checkbox"
                 [id]="pref.value"
                 [name]="pref.value"
                 ngModel
                 class="form-check">

        </div>
      </div>
      <hr>
    </div>
    <div class="col-12 mb-5">
      <h5>Preferred Ethnicities</h5>
    </div>
    <div *ngFor="let e of ethnicgroups" class="col-3 mb-3">
      <div class="row">
        <div class="col-auto">
          <label class="form-check-label">{{e.label}}</label>
        </div>
        <div class="col-auto">
          <input type="checkbox"
                 [id]="e.value"
                 [name]="e.value"
                 ngModel
                 class="form-check">
        </div>
      </div>
      <hr>
    </div>
    <div class="col-12 mb-5">
      <h5>Preferred Ages</h5>
    </div>
    <div class="col-2 mb-5">
      <label class="form-check-label">Lowest Age (min 18)</label>
      <input type="text"
             id="lowerage"
             name="lowerage"
             ngModel
             class="form-control">
    </div>
    <div class="col-2 mb-5">
      <label class="form-check-label">Highest Age</label>
      <input type="text"
             id="highrange"
             name="highrange"
             ngModel
             class="form-control">
    </div>
    <div class="col-12 mb-5">
      <h5>Distance</h5>
    </div>
    <div class="col-3 mb-5">
      <label class="form-check-label">Max Distance</label>
      <input type="text"
             id="distance"
             name="distance"
             ngModel
             class="form-control">

    </div>
    <div class="col-12 mb-5">
      <h5>Preferred Body Types</h5>
    </div>
    <div *ngIf="!bodytypeoptin" class="col-12 mb-3">
      Body Type filtering is a optional filter that requires additional verification.
      In order to filter by body types, your body type(s) must be verified. Verification is required once
      every three months to keep this optional filter. In order to be verified you must take a picture with
      your body clearly showing. You do not have to be nude, but swimware is preferred.
      In the same matter as your initial verification photo, this photo is deleted upon review.
      You have the option to allow or not allow members who have not verified their body types to see you
      on the site.
    </div>
    <div *ngIf="!bodytypeoptin" class="col-12 mb-3">
      <strong>Body Type Categories</strong>
    </div>
    <div *ngFor="let type of bodytypes" class="col-2 mb-5">
      <div *ngIf="!bodytypeoptin" class="text-center">
        {{type.name}}
      </div>
    </div>
    <div *ngIf="!bodytypeoptin" class="col-12 mb-5">
      <div class="text-center">
        <button (click)="bodytypeoptintoggle()" class="btn btn-outline-primary">Opt In To Body Type Filtering</button>
      </div>
    </div>

    <div *ngIf="bodytypeoptin" class="col-12 mb-5">
      <div class="row">
        <div *ngIf="!verificationphotosent" class="col-12 mb-4">
          Please upload a photo of <span *ngIf="!couplesignup">you</span> <span *ngIf="couplesignup">both of you</span>
          showing as much skin as you are comfortable with. You do not have to be nude. In this picture please include
          a sign with the verification code clearly visible below. This verification code is unique to this body type verification
          attempt. Your body type will be set by our verification team after review. You may re verify at any time.
        </div>
        <div *ngIf="!verificationphotosent" class="col-12 mb-3">
          <div class="text-center">
            <h4>Verification Code</h4>
          </div>
        </div>
        <div *ngIf="!verificationphotosent" class="col-12 mb-3">
          <div class="text-center">
            <h5>654321</h5>
          </div>
        </div>
        <div *ngIf="!verificationphotosent" class="col-4 mb-5">
          <input type="file"
                 id="bodytypeverification"
                 name="bodytypeverification"
                 ngModel
                 class="form-control">
        </div>
        <div *ngIf="verificationphotosent || !verified" class="col-12 mb-5">
          While waiting for your verification decision, please choose your preferred body types.
        </div>
        <div *ngIf="verified" class="col-12 mb-5">
          <h5>user body type shows</h5>
        </div>
        <div *ngFor="let type of bodytypes" class="col-2 mb-4">
          <div *ngIf="verificationphotosent" class="row">
            <div class="col-auto">
              <label class="form-check-label">{{type.name}}</label>
            </div>
            <div class="col-auto">
              <input type="checkbox"
                     [id]="type.value"
                     [name]="type.value"
                     ngModel
                     class="form-check">
            </div>
            <hr>
          </div>
        </div>
        <div *ngIf="verificationphotosent" class="col-12">
          <div class="row">
            <div class="col-auto">
              <label class="form-check-label"> Allow users who have not opted in to body type filtering to see your account</label>
            </div>
            <div class="col-auto">
              <input type="checkbox"
                     id="allownonbodytype"
                     name="allownonbodytype"
                     ngModel
                     class="form-check">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="col-12 mt-5 mb-5">
      <h3>Settings</h3>
      <hr>
    </div>
  </div>
</div>
