<div class="container">
  <div class="col-12 mb-5">
    <h3>Swinger Sign Up Requests</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 mb-4">
          <img class=img-fluid src="https://dq1eylutsoz4u.cloudfront.net/2018/01/25162144/relationship-tips-happy-couples.jpg">
        </div>
        <div class="col-12">
          <div class="text-center">
            <h4>Validation Code: 12345</h4>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h5>sex 1</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h5>age 1</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h5>sex 2</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h5>age 2</h5>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <h5>Swinger Type: Couple Man & Woman</h5>
          </div>
        </div>
        <div *ngIf="!activatedecline" class="col-6">
          <button (click)="toggledeclinereason()" class="btn btn-outline-danger form-control">Decline</button>
        </div>
        <div *ngIf="!activatedecline" class="col-6">
          <button class="btn btn-outline-success form-control">Accept</button>
        </div>
        <div *ngIf="activatedecline" class="col-12 mt-4">
          <h5>Decline Reason</h5>
        </div>
        <div *ngIf="activatedecline" class="col-12">
          <form (ngSubmit)="submitdeclinereason()" #declinereasonform="ngForm">
            <div class="row">
              <div class="col-3">
                <button (click)="toggledeclinereason()" class="btn btn-outline-dark">Cancel</button>
              </div>
              <div class="col-9">
                <select id="declinereason"
                        name="declinereason"
                        ngModel
                        required
                        class="form-control">
                  <option value="">Select Decline Reason</option>
                  <option *ngFor="let reason of swingerdeclinereasons" [value]="reason.name">{{reason.name}}</option>
                </select>
              </div>
              <div class="col-12 mt-3">
                <div class="text-center">
                  <button [disabled]="!declinereasonform.valid" type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
