<div class="container">
  <div class="row">
    <div class="col-9 mb-5">
      <h3>Swinger Sign Up Requests</h3>
    </div>
    <div class="col-3 mb-5">
      <div class="text-right">
        <h3>{{swingerapplicationhold.length + swingerapplicationlistpool.length}}</h3>
      </div>
    </div>
  </div>
  <div  class="row">
    <div *ngFor="let swinger of swingerapplicationhold; let i =index" class="col-6">
      <div class="row">
        <div class="col-12 mb-4">
          <img class=img-fluid [src]="swinger.verificationphoto">
        </div>
        <div class="col-12">
          <div class="text-center">
            <h4>Validation Code: {{swinger.verificationphotocode}}</h4>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h5>{{swinger.swingertype.sex1.name}}</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h5>{{swinger.birthday1}}</h5>
          </div>
        </div>
        <div *ngIf="swinger.swingertype.sex2 != null" class="col-3">
          <div class="text-left">
            <h5>{{swinger.swingertype.sex2.name}}</h5>
          </div>
        </div>
        <div *ngIf="swinger.birthday2 != null" class="col-3">
          <div class="text-left">
            <h5>{{swinger.birthday2}}</h5>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center">
            <h5>{{swinger.ethnicity1.name}}</h5>
          </div>
        </div>
        <div *ngIf="swinger.ethnicity2 != null" class="col-6">
          <div class="text-center">
            <h5>{{swinger.ethnicity2.name}}</h5>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <h5>Swinger Type: {{swinger.swingertype.name}}</h5>
          </div>
        </div>
        <div *ngIf="!activatedecline" class="col-6">
          <button (click)="toggledeclinereason()" class="btn btn-outline-danger form-control">Decline</button>
        </div>
        <div *ngIf="!activatedecline" class="col-6">
          <button class="btn btn-outline-success form-control">Accept</button>
        </div>
        <div *ngIf="activatedecline" class="col-12 mt-4">
          <h5>Decline Reason</h5>
        </div>
        <div *ngIf="activatedecline" class="col-12">
          <form (ngSubmit)="submitdeclinereason(i, declinereasonform)" #declinereasonform="ngForm">
            <div class="row">
              <div class="col-3">
                <button (click)="toggledeclinereason()" class="btn btn-outline-dark">Cancel</button>
              </div>
              <div class="col-9">
                <select id="declinereason"
                        name="declinereason"
                        ngModel
                        required
                        class="form-control">
                  <option value="">Select Decline Reason</option>
                  <option *ngFor="let reason of swingerdeclinereasons" [value]="reason.name">{{reason.name}}</option>
                </select>
              </div>
              <div class="col-12 mt-3">
                <div class="text-center">
                  <button [disabled]="!declinereasonform.valid" type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
