<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3 mb-3">
      <h5>Body Types</h5>
    </div>
  </div>
  <form (ngSubmit)="addbodytype(bodytypeform)" #bodytypeform="ngForm">
    <div class="row">
      <div class="col-10 mt-3">
        <input type="text"
               id="addbodytype"
               name="addbodytype"
               ngModel
               placeholder="Add body type"
               class="form-control">
      </div>
      <div class="col-2 mt-3">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </div>
    <div *ngFor="let type of bodytypes; let i = index" class="row mb-2">
      <div class="col-10 mt-1">
        <span class="badge badge-pill badge-secondary">{{type.name}}</span>
      </div>
      <div class="col-2 mt-1">
        <button (click)="deletebodytype(i)" class="badge badge-pill badge-danger">Delete</button>
      </div>
    </div>
  </form>
</div>
