<div *ngIf="swingerobject != null" class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 mt-4 mb-2">
      <h5 (click)="navigatetoprofile()" class="globalshowaslink">{{swingerobject.swinger_set[0].username}}</h5>
    </div>
    <div class="col-12 mt-1">
      News Feed
    </div>
    <div class="col-12 mb-1">
      Messenger
    </div>
    <div class="col-12 mb-1">
      Hosts
    </div>
    <div class="col-12 mb-1">
      Events
    </div>
    <div class="col-12 mb-1">
      Groups
    </div>
    <div class="col-12 mb-1">
      <p (click)="navigatetoprefsettings()" class="globalshowaslink">Preferrences & Settings</p>
    </div>
    <div class="col-12 mt-4 mb-2">
      <strong>Events</strong>
    </div>
    <div *ngFor="let event of upcomingevents" class="row">
      <div class="col-12">
        {{event.eventname}}
      </div>
      <div  class="col-12 mb-1">
        <div class="text-left">
          {{event.date}} | {{event.time}}
        </div>
        <div class="col-8">
          <hr>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4 mb-2">
      <strong>Hosts</strong>
    </div>
    <div *ngFor="let host of eventhosts" class="col-12 mb-2">
      {{host.name}}
    </div>
    <div class="col-8">
      <hr>
    </div>
    <div class="col-12 mt0b mb-2">
      <strong>Groups</strong>
    </div>
    <div *ngFor="let group of usergroups" class="col-12 mb-2">
      {{group.name}}
    </div>
  </div>
</div>

