<div class="container-fluid">
  <div class="row">
    <div class="col-2 userimagephotodiv">
      <img [src]="userphoto" class="userimagephoto"/>
    </div>
    <div class="col-10 userimagephotodiv">
      <div class="row">
        <div class="col-12">
          <div class="text-left">
            <a>User Name</a>
          </div>
        </div>
        <div class="col-12">
          <div class="text-left">
            Couple - Man & Woman
          </div>
        </div>
        <div class="col-12">
          <div class="text-left">
            86% Swing Match
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 pt-2 mb-1 postcontentdiv">
      This is a sample post and its text the person. We like doing the swinging stuff.
    </div>
    <div class="col-6 mb-1">
      <div class="text-left">
        1234 Likes
      </div>
    </div>
    <div class="col-6 mb-1">
      <div class="text-right">
        45 comments
      </div>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-secondary fullwidth">Like</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-secondary fullwidth">Comment</button>
    </div>
    <div class="col-12 mt-2">
      <textarea type="text"
             name="comment"
             ngModel
             placeholder="Write a comment"
             class="form-control">
      </textarea>
    </div>
    I'll create the comments part later
  </div>
</div>
