/* where the background image is hosted to by
https://elements.envato.com/young-couple-at-the-bar-PHV84U9 */

.splashbackground{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.7)), url("src/assets/landingpage/landingpage.jpg");

}

.sitename{
  font-size: 70px;
  padding-top: 20vh;
  padding-left: 8vw;
  color: white;
}

@media only screen and (max-width: 1350px) {

  .sitename {
    font-size: 50px;
  }

}

@media only screen and (max-width: 1000px) {

  .sitename {
    font-size: 40px;
  }

}

@media only screen and (max-width: 820px) {

  .sitename {
    font-size: 30px;
  }

}

.sitesell1{
  font-size: 50px;
  padding-top: 25vh;
  color: white;
  padding-left: 10vw;
}

.sitesell2{
  font-size: 50px;
  padding-top: 2vh;
  color: white;
  padding-left: 10vw;
}


@media only screen and (max-width: 1350px) {
  .sitesell1{
    font-size: 35px;
  }
  .sitesell2{
    font-size: 35px;

  }

}

@media only screen and (max-width: 1000px) {
  .sitesell1{
    font-size: 25px;
  }
  .sitesell2{
    font-size: 25px;

  }

}

@media only screen and (max-width: 690px) {
  .sitesell1{
    font-size: 18px;
  }
  .sitesell2{
    font-size: 18px;

  }

}

.swingerbuttondiv{
  margin-top: 70vh;
  margin-left: 100px;
}

.hostbuttondiv{
  margin-top: 70vh;
  margin-left: 100px;
}

@media only screen and (max-width: 1200px) {
  .hostbuttondiv {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .hostbuttondiv {
    margin-left: 25px;
  }
  .swingerbuttondiv{
    margin-left: 50px;
  }
}
.swingbutton{
  font-size: 25px;
}

@media only screen and (max-width: 1100px) {
  .swingbutton{
    font-size: 20px;
  }
}



.swingersection{
  height: 100vh;
}

.rightborder{
  border-right: solid 1px lightgray;
}

.swingsellsection{
  margin-top: 10vh;
}

.swingersell{
  font-size: 3.3vh;
  margin-left: 1vw;
}

.swingersingup{
  position: relative;
  top: -12vh;
  height: 100vh;
}

