<div class="container-fluid">
  <div class="row">
    <div class="col-12 splashbackground">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="text-left sitename">
            Libidinous Lounge
          </div>
          <div class="text-left sitesell1">
            100% Verified Users
          </div>
          <div class="text-left sitesell2">
            100% Free To Connect
          </div>
        </div>

        <!--
        <button class="btn btn-primary" [scrollTo]="'#place1'" [scrollDuration]="1000" [scrollOffset]="-100">Place 1</button>
<button class="btn btn-primary" [scrollTo]="place2">Place 2</button>
<div id="place1"></div>
<div #place2></div>
-->
        <div class="col-md-6 d-xs-none d-md-block ">
          <div class="row">
            <div class="col-md-4 col-xs-6 swingerbuttondiv">
              <button [ngx-scroll-to]="swinger" class="btn btn-outline-light swingbutton">For Swingers</button>
            </div>
            <div class="col-md-4 col-xs-6 hostbuttondiv">
              <button [ngx-scroll-to]="eventhost" class="btn btn-outline-light swingbutton">For Event Hosts </button>
            </div>
          </div>
        </div>
        <div class="col-12 d-none d-sm-block d-md-none">
          <div class="row">
            <div class="col-6">
              <div class="text-center">
                <button [ngx-scroll-to]="swinger" class="btn btn-outline-light smallbutton">For Swingers</button>
              </div>
            </div>
            <div class="col-6">
              <div class="text-center">
                <button [ngx-scroll-to]="eventhost" class="btn btn-outline-light smallbutton">For Event Hosts </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-xs-block d-sm-none">
          <div class="row">
            <div class="col-6">
              <div class="text-center">
                <button [ngx-scroll-to]="swinger" class="btn btn-outline-light xsmallbutton mb-5">For Swingers</button>
              </div>
            </div>
            <div class="col-6">
              <div class="text-left">
                <button [ngx-scroll-to]="eventhost" class="btn btn-outline-light xsmallbutton">For Event Hosts </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div #swinger class="col-12 swingersection">
      <div class="row">
      <div class=" col-xs-12 col-md-6  mt-5">
        <div class="text-left">
          <h1>For Swingers</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-7 mt-3 rightborder">
          <div class="row swingsellsection">
            <div class="col-12 mb-2 swingersell">
              100% Verified Users
            </div>
            <div class="col-12 mb-2 swingersell">
              100% Free To Interact With Members
            </div>
            <div class="col-12 mb-2 swingersell">
              For Couples And Singles Of All Types
            </div>
            <div class="col-12 mb-2 swingersell">
              Only Members That Meet Your Preferences Can See Or Interact With You
            </div>
            <div class="col-12 mb-2 swingersell">
              Filter By Singles, Couples, Age, Play Preferences, And More
            </div>
            <div class="col-12 mb-2 swingersell">
              Optionally Filter By Verified Body Types
            </div>
            <div class="col-12 mb-2 swingersell">
              Host And Attend Parties, Buy Tickets To Lifestyle Clubs
            </div>
            <div class="col-12 mb-2 swingersell">
              Join And Create Interest Groups
            </div>
          </div>
        </div>
        <div *ngIf="!swingercityrequestshow && !swingersignupsucess" class=" col-xs-12 col-lg-5 swingersingup">
          <form (ngSubmit)="swingersignup(swingersignupform)" #swingersignupform="ngForm">
          <div class="row">
            <div class="col-12 mt-5 smallshim">
              <h5>Come Join us!</h5>
            </div>
            <div class="col-12 smallshim">
              <div *ngIf="!swingersignupform.valid || !swingersignupform.touched" class="row">
                <div class="col-md-4 col-xs-6 mt-2">
                  <select id="countryswinger"
                          name="countryswinger"
                          ngModel
                          required
                          (ngModelChange)="getactivestatesbycountry(swingersignupform)"
                          class="form-control">
                    <option value="">Select Your Country</option>
                    <option *ngFor="let c of activecountries" [value]="c.id">{{c.name}}</option>
                  </select>
                </div>
                <div class="col-md-4 col-xs-6 mt-2">
                  <select id="stateswinger"
                          name="stateswinger"
                          ngModel
                          required
                          (ngModelChange)="getactivecitiesbystate(swingersignupform)"
                          class="form-control">
                    <option value="">Select Your State</option>
                    <option *ngFor="let s of activestates" [value]="s.id">{{s.name}}</option>
                  </select>
                </div>
                <div class="col-md-4 col-xs-6 mt-2">
                  <select id="cityswinger"
                          name="cityswinger"
                          ngModel
                          required
                          class="form-control">
                    <option value="">Select Your City</option>
                    <option *ngFor="let c of activecities" [value]="c.id">{{c.name}}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="swingersignupform.valid && swingersignupform.touched" class="row mt-5">
                <div class="col-12">
                  <div class="text-center">
                    <button (click)="navtoswingersignup()" class="btn btn-outline-dark">Sign Up As A Swinger</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-2 smallshim">
              <div class="text-center">
                <button (click)="toggleswingercityrequest()" class="btn btn-link">Wheres My Location?</button>
              </div>
            </div>
          </div>
          </form>
        </div>

        <div *ngIf="swingercityrequestshow" class="col-lg-5 col-xs-12 mt-5 swingersingup">
          <div class="row">
            <div class="col-12 mt-5 mb-4">
              <h5>To bring the most value we are only launching in a few cities. As The memberships in those cities build,
              we will launch additional cities.</h5>
            </div>
            <div class="col-12 mt-4">
              <h5>In the mean time choose your closest city, your swing preference, and enter your email below. As more people request your closet city,  we will open up
              your closest city and minor cities around it. And notify you that your city is live.</h5>
            </div>
            <div class="col-12">
              <form (ngSubmit)="swingercityrequest(swingerrequestform)" #swingerrequestform="ngForm">
              <div class="row">
                  <div class="col-4 mt-5">
                    <select id="countryswingerrequest"
                            name="countryswingerrequest"
                            ngModel
                            required
                            (ngModelChange)="getallstatesbycountry(swingerrequestform)"
                            class="form-control">
                      <option value="">Select Your Country</option>
                      <option *ngFor="let ac of allcountries" [value]="ac.id">{{ac.name}}</option>
                    </select>
                  </div>
                  <div class="col-4 mt-5">
                    <select id="stateswingerrequest"
                            name="stateswingerrequest"
                            ngModel
                            required
                            (ngModelChange)="getallcitiesbystate(swingerrequestform)"
                            class="form-control">
                      <option value="">Select Your State</option>
                      <option *ngFor="let sa of allstates" [value]="sa.id">{{sa.name}}</option>
                    </select>
                  </div>
                  <div class="col-4 mt-5">
                    <select id="cityswingerrequest"
                            name="cityswingerrequest"
                            ngModel
                            required
                            class="form-control">
                      <option value="">Select Your City</option>
                      <option *ngFor="let ca of allcities" [value]="ca.id">{{ca.name}}</option>
                    </select>
                  </div>
                  <div class="col-6 mt-2">
                    <select id="swingerpreferencerequest"
                            name="swingerpreferencerequest"
                            ngModel
                            required
                            class="form-control">
                      <option value="">Select Your Swing Preference</option>
                      <option *ngFor="let st of swingertypes" [value]="st.id">{{st.name}}</option>
                    </select>
                  </div>
                  <div class="col-6 mt-2">
                    <input type="email"
                           id="swingeremailrequest"
                           name="swingeremailrequest"
                           ngModel
                           required
                           class="form-control"
                           placeholder="Enter your Email">
                  </div>
                  <div class="col-6 mt-5 mb-5">
                    <div class="text-left">
                      <button (click)="toggleswingercityrequest()" class="btn btn-outline-secondary">Back</button>
                    </div>
                  </div>
                  <div *ngIf="swingerrequestform.valid" class="col-6 mt-5 mb-5">
                    <div class="text-right">
                      <button type="submit" class="btn btn-outline-secondary">Request My City</button>
                    </div>
                    <div *ngIf="!swingerrequestform.valid" class="text-right">
                      Please fill out form completely
                    </div>
                  </div>
                  <div *ngIf="swingercityrequestsucess" class="col-12 mt-5 swingersingup">
                    <div class="row">
                      <div class="col-12">
                        <div class="text-center">
                          <h4>Your request to have your city added to the active list has been received. We'll let you know when it is active. </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="showfailtext" class="col-12">
                    <div class="text-center">
                      <h4>{{failuretext}}</h4>
                    </div>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div> <!--this one-->

    <!-- host section -->

    <div #eventhost class="col-12 swingersection eventshim">
      <div class="col-md-6 col-xs-12 mt-5">
        <div class="text-left">
          <h1>For Event Hosts</h1>
        </div>
      </div>
      <div class="row">
        <div class=" col-xs-12 col-lg-7 mt-5 rightborder">
          <div class="row swingsellsection">
            <div class="col-12 mb-2 swingersell">
              100% Verified Users
            </div>
            <div class="col-12 mb-3 swingersell">
              100% Free For Users To Interact With One Another
            </div>
            <div class="col-12 mb-3 swingersell">
              Upcoming Events Banners And Sections Advertise Your Upcoming Events Through Out The Site To Members
            </div>
            <div class="col-12 mb-3 swingersell">
              Choose The Attributes And Locations Of Members You Want Your Events Marketed To
            </div>
            <div class="col-12 mb-3 swingersell">
              Dedicated Groups And Newsfeeds Under Your Control To Connect With Members
            </div>
            <div class="col-12 mb-3 swingersell">
              Sell Tickets And Memberships Directly From The Site
            </div>
            <div class="col-12 mb-3 swingersell">
              No Monthly Or Annual Fee
            </div>
          </div>
        </div>
        <div *ngIf="!swingercityrequestshow && !hostsignupsucess" class="col-xs-12 col-lg-5 swingersingup">
          <form (ngSubmit)="hostsignup(hostsignupform)" #hostsignupform="ngForm">
          <div class="row">
            <div class="col-12 mt-5 smallshim">
              <h5>Come Join Us!</h5>
            </div>
            <div *ngIf="!hostsignupform.valid || !hostsignupform.touched" class="col-md-4 col-xs-6 mt-2 smallshim">
              <select id="countryhost"
                      name="countryhost"
                      ngModel
                      required
                      (ngModelChange)="getactivestatesbycountry(hostsignupform)"
                      class="form-control">
                <option value="">Select Your Country</option>
                <option *ngFor="let hc of activecountries" [value]="hc.id">{{hc.name}}</option>
              </select>
            </div>
            <div *ngIf="!hostsignupform.vaild || !hostsignupform.touched" class="col-md-4 col-xs-6 mt-2 smallshim">
              <select id="statehost"
                      name="statehost"
                      ngModel
                      required
                      (ngModelChange)="getactivecitiesbystate(hostsignupform)"
                      class="form-control">
                <option value="">Select Your State</option>
                <option *ngFor="let sa of activestates" [value]="sa.id">{{sa.name}}</option>
              </select>
            </div>
            <div *ngIf="!hostsignupform.vaild || !hostsignupform.touched" class="col-md-4 col-xs-6 mt-2 smallshim">
              <select id="cityhost"
                      name="cityhost"
                      ngModel
                      required
                      class="form-control">
                <option value="">Select Your City</option>
                <option *ngFor="let ac of activecities" [value]="ac.id">{{ac.name}}</option>
              </select>
            </div>
            <div class="col-12 mt-2 smallshim">
              <div class="text-center">
                <button (click)="toggleswingercityrequest()" class="btn btn-link">Wheres My Location?</button>
              </div>
            </div>
          </div>
            <div *ngIf="hostsignupform.valid && hostsignupform.touched" class="row">
              <div class="col-12">
                <div class="text-center">
                  <button class="btn btn-outline-dark">Join As A Event Host</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="swingercityrequestshow" class="col-lg-5 col-xs-12 mt-5 swingersingup">
          <form (ngSubmit)="hostcityrequest(hostrequestform)" #hostrequestform="ngForm">
          <div class="row">
            <div class="col-12 mt-5 mb-4">
              <h5>To bring the most value we are only launching in a few cities. As The memberships in those cities build,
                we will launch additional cities.</h5>
            </div>
            <div class="col-12 mt-4">
              <h5>In the mean time choose your closest city, your host type, and enter your email below. As more people request your closet city,  we will open up
                your closest city and minor cities around it. And notify you that your city is live.</h5>
            </div>
            <div class="col-4 mt-5">
              <select id="countryhostrequest"
                      name="countryhostrequest"
                      ngModel
                      required
                      (ngModelChange)="getallstatesbycountry(hostrequestform)"
                      class="form-control">
                <option value="">Select Your Country</option>
                <option *ngFor="let ac of allcountries" [value]="ac.id">{{ac.name}}</option>
              </select>
            </div>
            <div class="col-4 mt-5">
              <select id="stateshostrequest"
                      name="statehostrequest"
                      ngModel
                      required
                      (ngModelChange)="getallcitiesbystate(hostrequestform)"
                      class="form-control">
                <option value="">Select Your State</option>
                <option *ngFor="let sa of allstates" [value]="sa.id">{{sa.name}}</option>
              </select>
            </div>
            <div class="col-4 mt-5">
              <select id="cityhostrequest"
                      name="cityhostrequest"
                      ngModel
                      required
                      class="form-control">
                <option value="">Select Your City</option>
                <option *ngFor="let ac of allcities" [value]="ac.id">{{ac.name}}</option>
              </select>
            </div>
            <div class="col-6 mt-2">
              <select id="hosttyperequest"
                      name="hosttyperequest"
                      ngModel
                      required
                      class="form-control">
                <option value="">Select Your Host Type</option>
                <option *ngFor="let type of hosttypes" [value]="type.id">{{type.name}}</option>
              </select>
            </div>
            <div class="col-6 mt-2">
              <input type="email"
                     id="hostemailrequest"
                     name="hostemailrequest"
                     ngModel
                     required
                     class="form-control"
                     placeholder="Enter your Email">
            </div>
            <div class="col-6 mt-5">
              <div class="text-left">
                <button (click)="toggleswingercityrequest()" class="btn btn-outline-secondary">Back</button>
              </div>
            </div>
            <div class="col-6 mt-5">
              <div *ngIf="!hostrequestform.valid" class="text-right">
                Please fill out form compeletely
              </div>
              <div *ngIf="hostrequestform.valid" class="text-right">
                <button class="btn btn-outline-secondary">Request My City</button>
              </div>
            </div>
            <div *ngIf='showfailtext' class="col-12 mt-5">
              <div class="text-center">
                <h4>{{failuretext}}</h4>
              </div>
            </div>
            <div *ngIf="hostcityrequestsucess" class="col-12 mt-5">
              <div class="text-center">
                <h4>Your request to have your city added to the active list has been received. We'll let you know when it is active. </h4>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

