<div class="container">
  <div *ngIf="!verified" class="row">
    <form (ngSubmit)="passwordsubmit(passwordform)" #passwordform="ngForm">
      <div class="col-12">
        <input type="password"
               ngModel
               id="password"
               name="password"
               class="form-control">
      </div>
      <div class="col-12">
        <div class="text-center">
          <button class="btn btn-outline-dark">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="verified" class="row">
    <div class="col-12 mt-5 mb-5">
      <h1>Site Admin</h1>
    </div>
    <div class="col-12 mb-3">
      <app-swingersignupapproval></app-swingersignupapproval>
    </div>
    <div class="col-12 mb-3">
      <app-locations></app-locations>
    </div>
    <div class="col-12 mb-3">
      <app-swingerandhosttypes></app-swingerandhosttypes>
    </div>
    <div class="col-12 mb-3">
      <app-swingerhostsignup></app-swingerhostsignup>
    </div>
    <div class="col-12 mb-3">
      <app-sextypeandethnictypes></app-sextypeandethnictypes>
    </div>
    <div class="col-6 mb-3">
      <app-swingersexualorientation></app-swingersexualorientation>
    </div>
    <div class="col-12 mb-3">
      <app-swingersignupdeclinereasons></app-swingersignupdeclinereasons>
    </div>
  </div>
</div>

<!--test-->
